/* 画像の大きさを指定 */
.zoo div {
  /* 横一杯に使う */
  grid-column: 1 / -1;

  /* 中のaタグのためのコンテナに成る */
  display: grid;
  grid-gap: 10px;
  /* grid-auto-fill */
  /* https://www.webprofessional.jp/difference-between-auto-fill-and-auto-fit/ */
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.zoo div a img {
  vertical-align: bottom;
}

/* 写真をクリックしたときに、ズームアップする為の設定 */
.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
  opacity: 0;
  backface-visibility: hidden;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
