/* スクロールを促す
-----------------------------------------------------------------------------*/
.scroll.down {
  grid-row: vegas;
  justify-self: center;
  align-self: end;
  padding-bottom: 60px;
}

/* 表示位置 */
.scroll.down {
  position: relative;
}

/* Scrollという文字表示の設定 */
.scroll.down span {
  color: var(--sakurairo);
  font-size: 1rem;
  letter-spacing: 0.05em;
}

/* 線の表示 */
.scroll.down::after {
  content: "";
  position: absolute;
  top: 220px;
  left: 35px;
  width: 2px;
  height: 30px;
  background: var(--sakurairo);
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/* 高さ・位置・透過度が変化して、線が上から下に動く */
@keyframes pathmove {
  0% {
    height: 0;
    top: 25px;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 60px;
    opacity: 0;
  }
}
