/*=============================================================================
  モバイル版・デスクトップ版 共通
=============================================================================*/

/*-----------------------------------------------------------------------------
  基本設定
-----------------------------------------------------------------------------*/
body {
  /* テキストの自動拡大を無効化 */
  text-size-adjust: none;
}

* {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/*-----------------------------------------------------------------------------
  ページ全体の設定
-----------------------------------------------------------------------------*/
body {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
              [vegas]  100vh
              /* [head]   100px */
              [title]  auto
              [sub]    auto
              [recent] auto
              [zoo]    auto
              [sea]    auto
              [foot]   100px;
  row-gap: 20px;
  font-family: 'Hachi Maru Pop', cursive;
}

/* パーツの配置 */
body > * {
  grid-column: 2 / -2;
}

/*-----------------------------------------------------------------------------
  ヘッダー
-----------------------------------------------------------------------------*/
.post header {
  grid-row: head;
  justify-self: center;
  align-self: center;
  font-size: 40px;
  color: #555d6b;
  text-shadow: 5px 5px 5px gray;
  margin-top: -20px;

  /* ロゴと文字を並べる */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 58px;
}

.post header img {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  /* vertical-align: bottom; */
}

.post header a {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  color: inherit;
  text-decoration: none;
}

.logo {
  /* ロゴと文字を並べる */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 58px;
}

.logo img {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.logo a {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  color: inherit;
  text-decoration: none;
}


/*-----------------------------------------------------------------------------
  ナビゲーションメニュー
-----------------------------------------------------------------------------*/
nav {
  grid-row: head;
  justify-self: center;
  align-self: end;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  list-style: none;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #565c3d;
  font-size: 12px;
  font-weight: bold;
  /* fontawesome & iPhone 対策 */
  display: inline-block;
  min-width: 59px;
}

nav ul li a:hover {
  color: orange;
}

/*-----------------------------------------------------------------------------
  ヒーローイメージ
-----------------------------------------------------------------------------*/
#vegas-slider {
  grid-row: vegas;
  grid-column: 1 / -1;
}

figure.hero {
  grid-column: 1 / -1;
  grid-row: title / span 2;
}

figure.hero img {
  height: 547px;
  object-fit: cover;
  vertical-align: bottom;
  filter: brightness(70%);
  z-index: -1;
  position: relative; /* Z-index 用の hack */
}

/*-----------------------------------------------------------------------------
  タイトル
-----------------------------------------------------------------------------*/
.top h1.title {
  grid-row: title;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 50px;
  line-height: 1.2;
  text-shadow: 0 0 5px gray;
  text-align: center;
}

/*-----------------------------------------------------------------------------
  サブタイトル
-----------------------------------------------------------------------------*/
.top p.subtitle {
  grid-row: sub;
  text-align: center;
}

.top p.subtitle img {
  width: 240px;
}

.top p.subtitle a {
  text-decoration: none;
  color: white;
  border: solid 1px white;
  padding: 10px 40px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 10px;
  background: rgba(139, 167, 232, 0.67);
}

.top p.subtitle a:hover {
  background: orange;
}

/*-----------------------------------------------------------------------------
  記事一覧(最近の投稿)
-----------------------------------------------------------------------------*/
.top section.recent {
  grid-row: recent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
}

.post aside ul {
  grid-row: kiji;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
}

.top section.recent h2,
.top section.recent p {
  grid-column: 1 / -1;
  text-align: center;
  font-weight: normal;
}

.top section.recent a,
.post aside.recent a {
  color: black;
  text-decoration: none;
}

.top section.recent h3,
.post aside h3 {
  font-size: 14px;
}

.top section.recent a:hover {
  text-decoration: underline;
}

.top section.recent h3::before {
  content: "▼";
  color: gold;
}

.top section.recent h3::after {
  content: "▲";
  color: deepskyblue;
}

/*-----------------------------------------------------------------------------
  動物園の写真
-----------------------------------------------------------------------------*/
section.zoo {
  grid-row: zoo;
}

section.zoo h2,
section.zoo p {
  text-align: center;
  font-weight: normal;
  margin-bottom: 1rem;
}


/*-----------------------------------------------------------------------------
  海の写真
-----------------------------------------------------------------------------*/
section.sea {
  grid-row: sea;
  display: grid;
}

section.sea h2,
section.sea p {
  text-align: center;
  font-weight: normal;
  margin-bottom: 1rem;
}

section.sea h3 {
  font-size: 16px;
}

/*-----------------------------------------------------------------------------
  フッター
-----------------------------------------------------------------------------*/
footer {
  grid-row: foot;
  justify-self: center;
  align-self: center;
  font-size: 13px;
}

body::after {
  content: "";
  background: lightgray;
  grid-column: 1 / -1;
  grid-row: foot;
  z-index: -1;
}

/*-----------------------------------------------------------------------------
  記事ページの設定
-----------------------------------------------------------------------------*/
.post {
  grid-template-rows:
                      [head] 100px
                      [kiji] auto
                      [submenu] auto
                      [foot] 100px;
}

/* 記事 */
.post article {
  grid-row: kiji;
}

.post article > * {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}

.post article p {
  line-height: 2;
}

/* バー */
.post::before {
  content: "";
  background: lightgray;
  height: 2px;
  grid-column: 1 / -1;
  grid-row: kiji;
}

/* 時計アイコン */
.fa-clock {
  color: lightpink;
}

/* サブメニュー */
.post div {
  grid-row: submenu;
}

aside {
  border: solid 1px lightgray;
  padding: 20px;
  margin: 30px 0;
  text-align: center;
}

aside h2 {
  border-bottom: solid 2px lightgray;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

aside p {
  font-size: 14px;
}

aside:first-child img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

aside ul {
  list-style: none;
  padding: 0;
}

/*-----------------------------------------------------------------------------
  サイトについて
-----------------------------------------------------------------------------*/
table {
  border-collapse: collapse;
}

th,
td {
  border: solid 1px lightgray;
  padding: 10px;
}

td a {
  text-decoration: none;
  color: inherit;
}

td a:hover {
  text-decoration: underline;
}

th {
  width: 5em;
  text-align: left; /* 左揃え */
  text-align-last: justify; /* 均等割付 (Safari以外) */
}

/*  奇数行と偶数行とで、それぞれで色を変える */
tr:nth-child(odd)  th { background: #a1dfbc; color: black; }
tr:nth-child(even) th { background: #00ba13; color: white; }
tr:nth-child(odd)  td { background: #bfcdf5; color: black; }
tr:nth-child(even) td { background: #4470ec; color: white; }

/*-----------------------------------------------------------------------------
  地図
-----------------------------------------------------------------------------*/
.map {
  box-sizing: border-box;
  width: 100%;
}

.map .inner {
  overflow: hidden;
  position: relative;
  /* iPhoneでは縦長の地図にします */
  padding-top: 150%;
}

@media (min-width: 768px) {
  .map .inner {
    /* 縦横比を16対9の横長にします */
    padding-top: calc(100% * 9 / 16);
  }
}

.map .inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------------------------
  YouTube
-----------------------------------------------------------------------------*/
.video {
  box-sizing: border-box;
  width: 100%;
}

.video .inner {
  overflow: hidden;
  position: relative;
  padding-top: calc(100% * 9 / 16);
}

.video .inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------------------------
  お問い合わせフォーム
-----------------------------------------------------------------------------*/
form {
  padding-top: 30px;
}

form p {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  /* iOS では 16px 未満だと自動拡大されるので */
  font-size: 16px;
  font-family: 'Hachi Maru Pop', cursive;
}

form input::placeholder,
form textarea::placeholder {
  font-family: 'Hachi Maru Pop', cursive;
}

textarea {
  height: 120px;
}

input[type="submit"] {
  background: orange;
  border: none;
  -webkit-appearance: none;
}

form input[required] ~ label.name::after,
form textarea[required] ~ label.name::after {
  content: "※";
  color: red;
}

form span.required {
  color: red;
}

form .hidden {
  display: none;
}

/* ラベルの表示位置を上方に調整 */
form label.name {
  display: block;
  order: 1;
  transition: transform 0.2s;
  transform: translateY(-72px) scale(1);
  padding: 7px;
  font-size: 14px;
  line-height: 1;
}

form textarea[required] ~ label.name {
  transform: translateY(-154px) scale(1);
}

p.annotation {
  text-align: right;
  font-size: smaller;
  margin-top: -40px;
  margin-bottom: 0;
}

/*=============================================================================
  デスクトップ版
=============================================================================*/
@media (min-width: 768px) {

  /* ページ全体の設定 */
  body {
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    column-gap: 5%;
    grid-template-rows:
                        [vegas]     100vh
                        /* [head]      100px */
                        [title sub] auto
                        [recent]    auto
                        [zoo]       auto
                        [sea]       auto
                        [foot]      100px;
  }

  /* ヒーローイメージ */
  figure.hero {
    grid-row: title;
    margin-top: -20px;
  }

  /* タイトル */
  .top h1.title {
    grid-column: 2 / span 3;
    max-width: 460px;
  }

  /* サブタイトル */
  .top p {
    grid-column: 5 / span 3;
    align-self: center;
  }

  .top p img {
    width: 80%;
    max-width: 460px;
  }

  /* ヘッダー */
  header {
    justify-self: start;
  }

  /* ナビゲーションメニュー */
  nav {
    justify-self: end;
    align-self: center;
  }

  .top section.recent {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

  /* 記事ページ */
  .post {
    grid-template-rows:
                        [head] 100px
                        [kiji submenu] auto
                        [foot] 100px;
  }

  /* 記事 */
  .post article {
    grid-column: 2 / span 4;
  }

  .post article h1 {
    font-size: 42px;
  }

  .post article p {
    font-size: 18px;
  }

  /* サブメニュー */
  .post div {
    grid-column: 6 / span 2;
  }

  /* バー */
  .post::before {
    margin-top: -20px;
  }

  /* お問い合わせフォーム */
  input[type="submit"] {
    width: 120px;
  }
}
