.mobile.only {
  display: inherit;
}

@media (min-width: 768px) {
  .mobile.only {
    display: none;
  }
}

.computer.only {
  display: inherit;
}

@media (max-width: 768px) {
  .computer.only {
    display: none;
  }
}
