# Your snippets
#
# Pulsar snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Pulsar Launch Manual:
# https://pulsar-edit.dev/docs/launch-manual/sections/using-pulsar/#configuring-with-cson


#=====================================================================
# HTML 用の スニペット（コード断片）
#=====================================================================
'.text.html.basic':
  'html':
    'prefix': 'html'
    'body': """
      <!DOCTYPE html>
      <html lang="ja">
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width">
          <title></title>
          <link rel="stylesheet" href="style.css">
        </head>
        <body>
          $1
        </body>
      </html>
    """

  'hinagata':
    'prefix': 'hinagata'
    'body': """
    <!DOCTYPE html>
    <html lang="ja">
      <!-- サイトに関する設定事項を記述します -->
      <head>
        <!-- 文字コードの指定 -->
        <meta charset="utf-8">

        <!-- ページのタイトル -->
        <title>WAVE</title>

        <!-- ビューポート(視点)の指定 -->
        <meta name="viewport" content="width=device-width">

        <!-- ファビコンの指定 https://ao-system.net/favicongenerator/ -->
        <link rel="icon"
              href="images/favicon.ico"
              type="image/ico">
        <link rel="apple-touch-icon"
              href="images/apple-touch-icon-180x180.png"
              type="image/png"
              sizes="180x180">

        <!-- 検索時に表示される、ウェブサイトの要約文 -->
        <meta name="description" content="概ね80文字前後のサイトの
        紹介文が、検索時に表示されます。">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap">

        <!-- Font Awesome -->
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">

        <!-- 自分で作ったスタイルシート -->
        <link rel="stylesheet" href="stylesheets/master.css">
      </head>

      <!-- 表示したい内容・出し物・コンテンツを記述します -->
      <body class="top">
        <!-- ヘッダー(サイト名) -->
        <header>
          <a href="index.html">WAVE</a>
        </header>

        <!-- ナビゲーションメニュー -->
        <nav>
          <!-- fa-lgは1.33倍、la-2xは2倍の大きさ、fa-fwは横に少し間隔が空く -->
          <!-- 2021年最新版、Font Awesome アイコンの使い方と便利な機能のまとめ -->
          <!-- https://coliss.com/articles/build-websites/operation/work/font-awesome-guide-and-useful-tricks.html -->
          <ul>
            <li>
              <a href="index.html">
                <i class="fa-solid fa-house fa-lg fa-fw"></i>
                トップ
              </a>
            </li>
            <li>
              <a href="about.html">
                <i class="fa-brands fa-pagelines fa-lg fa-fw"></i>
                サイトについて
              </a>
            </li>
            <li>
              <a href="contact.html">
                <i class="fa-solid fa-envelope fa-lg fa-fw"></i>
                お問い合わせ
              </a>
            </li>
          </ul>
        </nav>

        <!-- このページの主要な内容（コンテンツ）を記します -->
        <main>
          $1
        </main>

        <!-- フッター -->
        <footer>
          <!-- 連絡先 -->
          <address>
            <!-- 会社名 -->
            <p class="company_name">(有) WAVE商会</p>
            <!-- 住所 -->
            <p class="address">名古屋市美波区美波町三丁目七番三号</p>
            <!-- 電話番号 -->
            <p class="tel">
              <a href="tel:052-373-4649">
                <i class="fa-solid fa-phone fa-rotate-90 fa-lg"></i>
                052-373-4649
              </a>
            </p>
            <!-- メールアドレス -->
            <p class="email">
              <a href="mailto:contact@wave.example.jp">
                <i class="fa-regular fa-envelope fa-lg"></i>
                contact@wave.example.jp
              </a>
            </p>
          </address>

          <!-- 著作権表示 -->
          <p class="copyright">
            Copyright © 令和六年 WAVE All rights reserved.
          </p>
        </footer>
      </body>
    </html>
    """

  'id':
    'prefix': 'id'
    'body': 'id="$1"'

  'class':
    'prefix': 'class'
    'body': 'class="$1"'

  'i-ha':
    'prefix': 'i-ha'
    'body': 'あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波'
  'i-hato-vo':
    'prefix': 'i-hato-vo'
    'body': 'あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波<br>\nまたそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。'

  'bot':
    'prefix': 'bot'
    'body': '親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。'
  'botchan':
    'prefix': 'botchan'
    'body': '親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。'

  'toshi':
    'prefix': 'toshi'
    'body': '或春の日暮です。<br>\n
    唐の都洛陽らくやうの西の門の下に、ぼんやり空を仰いでゐる、一人の若者がありました。'
  'toshishun':
    'prefix': 'toshishun'
    'body': '或春の日暮です。<br>\n唐の都洛陽の西の門の下に、ぼんやり空を仰いでゐる、一人の若者がありました。若者は名は杜子春といつて、元は金持の息子でしたが、今は財産を費ひ尽して、その日の暮しにも困る位、憐な身分になつてゐるのです。<br>\n何しろその頃洛陽といへば、天下に並ぶもののない、繁昌を極めた都ですから、往来にはまだしつきりなく、人や車が通つてゐました。門一ぱいに当つてゐる、油のやうな夕日の光の中に、老人のかぶつた紗しやの帽子や、土耳古の女の金の耳環や、白馬に飾つた色糸の手綱が、絶えず流れて行く容子は、まるで画のやうな美しさです。'

  'taka':
    'prefix': 'taka'
    'body': '高瀬舟は京都の高瀬川を上下する小舟である。徳川時代に京都の罪人が遠島を申し渡されると、本人の親類が牢屋敷へ呼び出されて、そこで暇乞をすることを許された。'
  'takasebune':
    'prefix': 'takasebune'
    'body': '高瀬舟は京都の高瀬川を上下する小舟である。徳川時代に京都の罪人が遠島を申し渡されると、本人の親類が牢屋敷へ呼び出されて、そこで暇乞をすることを許された。それから罪人は高瀬舟に載せられて、大阪へ廻されることであつた。それを護送するのは、京都町奉行の配下にゐる同心で、此同心は罪人の親類の中で、主立つた一人を大阪まで同船させることを許す慣例であつた。これは上へ通つた事ではないが、所謂大目に見るのであつた、默許であつた。'

#=====================================================================
# CSS 用の スニペット（コード断片）
#=====================================================================
'.source.css':
  'c1':
    'prefix': 'c1'
    'body': """/*=====================================================================
      $1
    =====================================================================*/"""
  'c2':
    'prefix': 'c2'
    'body': """/*---------------------------------------------------------------------
      $1
    ---------------------------------------------------------------------*/"""
  'c3':
    'prefix': 'c3'
    'body': """/*
      $1
    ---------------------------------------------------------------------*/"""
  'c4':
    'prefix': 'c4'
    'body': """/* $1
    ---------------------------------------------------------------------*/"""
  'm4':
    'prefix': 'm4'
    'body': """@media (width >= 480px) {
      $1
    }"""
  'm7':
    'prefix': 'm7'
    'body': """@media (width >= 768px) {
      $1
    }"""
  'm9':
    'prefix': 'm9'
    'body': """@media (width >= 960px) {
      $1
    }"""
  'm1':
    'prefix': 'm1'
    'body': """@media (width >= 1280px) {
      $1
    }"""

#=====================================================================
# JavaScript 用の スニペット（コード断片）
#=====================================================================
'.source.js':
  'c1':
    'prefix': 'c1'
    'body': """/*=====================================================================
      $1
    =====================================================================*/"""
  'c2':
    'prefix': 'c2'
    'body': """/*---------------------------------------------------------------------
      $1
    ---------------------------------------------------------------------*/"""
  'c3':
    'prefix': 'c3'
    'body': """/*
      $1
    ---------------------------------------------------------------------*/"""
  'c4':
    'prefix': 'c4'
    'body': """/* $1
    -------------------------------------------------------------------------*/"""
