/*=============================================================================
  body
  モバイル版・デスクトップ版 共通の設定
=============================================================================*/

/*-----------------------------------------------------------------------------
  基本設定
-----------------------------------------------------------------------------*/
* {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  /* テキストの自動拡大を無効化 */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/*-----------------------------------------------------------------------------
  ページ全体の設定
-----------------------------------------------------------------------------*/
body {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
              [head]   100px
              [title]  auto
              [sub]    auto
              [recent] auto
              [foot]   100px;
  row-gap: 20px;
  font-family: "Helvetica Neue",
                Arial,
                "Hiragino Kaku Gotic ProN",
                "Hiragino Sans",
                Meiryo,
                sans-serif;
}

/* パーツの配置
-----------------------------------------------------------------------------*/
body > * {
  grid-column: 2 / -2;
}

/*=============================================================================
  デスクトップ版の設定
=============================================================================*/
@media (width >= 768px) {
  body {
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    column-gap: 5%;
    grid-template-rows: [head]      100px
                        [title sub] auto
                        [recent]    auto
                        [foot]      100px;
  }
}
