/*=============================================================================
  問い合わせフォーム
=============================================================================*/

/* Google Fonts より Hachi Maru Pop 書体 を 読み込む */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

/* form 要素を対象に 装飾指定する */
form {
  padding-top: 30px;    /* 上に空白を設ける */

  /* form 内の p 要素を対象に 装飾指定する */
  & p {
    margin-bottom: 20px;
  }

  /* hidden(隠し)クラス属性を付けた要素を対象に 装飾指定する */
  .hidden {
    display: none;      /* 非表示にする */
  }

  /* 入力枠、長文入力枠への装飾指定 */
  & input,
  & textarea {
    width: 100%;            /* 幅 */
    box-sizing: border-box; /* padding込で幅を指定する */
    padding: 10px;          /* 空白を設ける */
    font-size: 16px;        /* iOS では 16px 未満だと自動拡大されるため、
                               書体の大きさを 16px に設定 */
    font-family: 'Hachi Maru Pop', cursive; /* はちまるポップ体 */
  }

  /* 入力欄に表示される入力例の文字(プレイスホルダ) */
  & input::placeholder,
  & textarea::placeholder {
    font-family: 'Hachi Maru Pop', cursive; /* はちまるポップ体 */
  }

  & textarea {
    height: 120px;
  }

  /* <input type="submit"> の要素を対象に装飾を指定 */
  & input[type="submit"] {
    background: var(--shinonomeiro);  /* 東雲色 */
    border: none;                     /* 枠線無し */
    -webkit-appearance: none;         /* ブラウザによる送信ボタン装飾無し */

    /* 画面幅が768px以上なら */
    @media (width >= 768px) {
      width: 240px;
    }
  }

  /* required 属性のある要素 に「~(チルダ・隣接)」する label 要素を対象に
     擬似要素を使って、赤い【必須】を付ける */
  :required ~ label::after {
    content: "【必須】";
    color: var(--kyohiiro);
  }

  /* ラベルの表示位置を上方に調整 */
  & label {
    display: block;     /* ブロック要素として表示にする
                           幅と高さを持てるようになるので、上に移動可能となる */
    transform: translateY(-80px) scale(1); /* 位置を上にずらす */
    font-size: 14px;    /* 書体の大きさを指定 */
    padding: 7px;       /* 空白を設ける */
  }
  /* textarea 要素 に「~(チルダ・隣接)」する label 要素を対象に */
  & textarea ~ label {
    transform: translateY(-164px) scale(1); /* さらに上方に移動 */
  }
}
