/*=============================================================================
  写真の枠とその効果
=============================================================================*/
.frame {
  border: 8px solid #fff;
  /* 二つの影を付けることもできる */
  box-shadow: 0 0 0 1px #ccc, 1px 3px 8px 0 #25252555;
}

.sepia.frame img {
  /* セピア色にする */
  filter: sepia(80%);
}

.rotate3 {
  /* 右下に少し回転 */
  transform: rotate(3deg)
}

.rotate-3 {
  /* 右上に少し回転 */
  transform: rotate(-3deg)
}
