/*=============================================================================
  ヘッダー
  モバイル版・デスクトップ版 共通の設定
=============================================================================*/
header  {
  grid-row: head;
  justify-self: center;
  align-self: center;
  font-family: 'Yuji Boku', serif;

  /* 画面幅に応じて可変するフォントサイズ */
  font-size: clamp(48px, 12vw, 54px);

  /* グラデーション */
  /* CSSでテキストを彩る装飾サンプル集 https://1-notes.com/css-text-design/ */
  color: transparent;
  background: repeating-linear-gradient(45deg,
    #e60012 0.1em 0.2em,
    #f39800 0.2em 0.3em,
    #fff100 0.3em 0.4em,
    #009944 0.4em 0.5em,
    #0068B7 0.5em 0.6em,
    #1d2088 0.7em 0.8em,
    #cfa7cd 0.8em 0.9em);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  letter-spacing: 10px;

  /* p107 テキストシャドウ */
  /*
  text-shadow: 5px 10px 10px #888888;
  */

  /* p163 ボックスシャドウ */
  /*
  border: solid 5px #ffaa00;
  padding: 20px;
  background: #ffff44;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #aaaaaa;
  */
}

/* 179 疑似要素による装飾 */
/*
header {
  border: solid 5px #ffaa00;
}

header::before {
  content: "▼";
  color: #e0ce0d;
}

header::after {
  content: "▲";
  color: #3a7fff;
}
*/

header a {
  color: inherit;
  text-decoration: none;
}

/*=============================================================================
  デスクトップ版
=============================================================================*/
@media (min-width: 768px) {
  header {
    justify-self: start;
  }
}
