/*=============================================================================
  ヒーローイメージ
  モバイル版・デスクトップ版 共通の設定
=============================================================================*/
figure.hero {
  grid-column: 1 / -1;
  grid-row: title / span 2;
}

figure.hero img {
  height: 547px;
  object-fit: cover;
  /* vertical-align: bottom; */
  filter: brightness(80%);
  z-index: -1;
  position: relative; /* hack */
}

/*=============================================================================
  デスクトップ版の設定
=============================================================================*/
@media (min-width: 768px) {
  figure.hero {
    grid-row: title;
    margin-top: -20px;
  }
}
