/*=============================================================================
  地図や動画に関するスタイルシート
=============================================================================*/

/* iPhone では、一列 x 二行 で配置します */
.map-container,
.video-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px;

  @media (width >= 768px) {
    /* iPad や Mac では、二列 x 一行 で配置します */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
}

/* 紹介文章を一行目に表示します */
.map-container .note,
.video-container .note {
  grid-column: 1;
  grid-row: 1;
  @media (width >= 768px) {
    /* 紹介文章を二列目に表示します */
    grid-column: 2;
    grid-row: 1;
  }
}

/* 地図や動画をニ行目に表示します */
.map-container .map,
.video-container .video {
  grid-column: 1;
  grid-row: 2;

  /* iPhone では、縦長(横2に対して縦3の比率)で表示します */
  aspect-ratio: 2 / 3;

  @media (width >= 768px) {
    /* 地図や動画を一列目に表示します */
    grid-column: 1;
    grid-row: 1;

    /* iPad や Mac では、横長(横16に対して縦9の比率)で表示します */
    aspect-ratio: 16 / 9;
  }
}

/* 地図や動画をグリッド内で最大表示します */
.map-container .map iframe,
.video-container .video iframe {
  width: 100%;
  height: 100%;
}
