/*=============================================================================
  記事ページ
=============================================================================*/

.post {
  grid-template-rows:
      [head]    100px
      [kiji]    auto
      [submenu] auto
      [foot]    100px;
      /* 画面幅768px以上 */
      @media (width >= 768px) {
        grid-template-rows:
            [head] 100px
            [kiji submenu] auto
            [foot] 100px;
      }

  /* 投稿記事 */
  & article {
    grid-row: kiji;
    /* 画面幅768px以上 */
    @media (width >= 768px) {
      grid-column: 2 / span 4;
    }

    > * {
      margin-top: 1em;
      margin-bottom: 1em;
      display: block;
    }

    & h1 {
      font-family: 'Yuji Boku', serif;
      /* 書体の大きさを可変にする */
      /* https://chrisburnell.com/clamp-calculator/ */
      font-size: clamp(1.5rem, 0.069rem + 6.107vw, 3rem);
    }

    & p {
      line-height: 2;
      font-size: clamp(1rem, 0.881rem + 0.509vw, 1.125rem);
    }
  }

  /* 区切り線 */
  &::before {
    content: "";
    background: var(--nibiiro);
    height: 2px;
    grid-column: 1 / -1;
    grid-row: kiji;
    @media (width >= 768px) {
      margin-top: -20px;
    }
  }

  /* 時計アイコン */
  .fa-clock {
    color: var(--amairo);
  }

  .submenu {
    grid-row: submenu;
    /* 画面幅が768px以上なら */
    @media (width >= 768px) {
      grid-column: 6 / span 2;
    }

    /* aside 要素に枠線などの装飾を指定する */
    & aside {
      border: solid 1px var(--amairo);
      padding: 20px;
      margin: 30px 0;
      text-align: center;

      & h2 {
        border-bottom: solid 2px var(--sanaeiro);
        padding-bottom: 20px;
        margin-bottom: 20px;
        color: var(--sanaeiro);
        font-weight: normal;
        font-family: 'Yuji Boku', serif;
      }

      & p {
        font-size: 14px;
      }
    }

    /* プロフィール画像の余白指定 */
    .profile figure img {
      margin: 0 auto;
    }

    /* ピックアップ記事の装飾指定 */
    .pickup {
      & ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 10px;
        list-style: none;
        padding: 0;
        text-align: left;

        & a {
          color: var(--kurohairo);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      & h3 {
        font-size: 14px;

        &::before {
          content: "▼";
          color: var(--nanohanairo);
        }

        &::after {
          content: "▲";
          color: var(--utsushiiro);
        }
      }
    }
  }
}
