/* 記事一覧 */
section {
  grid-row: recent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;

  a {
    color: var(--kurohairo);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 14px;
  }
}
