/*=============================================================================
  記事一覧
=============================================================================*/

section {
  grid-row: recent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;

  /* 画面幅が768px以上なら */
  @media (width >= 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    column-gap: 20px;
  }

  a {
    color: var(--kurohairo);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    grid-column: 1 / -1;
    font-family: "Yuji Boku", serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: var(--kurohairo);
  }

  h3 {
    font-size: 14px;

    /* 疑似要素を使った装飾 */
    &::before {
      content: "▼";
      color: var(--nanohanairo);
    }

    &::after {
      content: "▲";
      color: var(--utsushiiro);
    }
  }
}
