/*=============================================================================
  サブタイトル
=============================================================================*/

/* サブタイトル */
.sub_title {
  grid-row: sub;
  text-align: center;
  /* 画面幅が768px以上なら */
  @media (width >= 768px) {
    grid-column: 5 / span 3;
    align-self: center;
  }

  a {
    color: var(--sakurairo);
    text-decoration: none;

    border: solid 1px var(--sakurairo);
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    background: #555d6b80; /* 16進表記も可能 */

    &:hover {
      background: #ef9504;
    }
  }

  img {
    width: 250px;
    margin: 0 auto;
    /* 画面幅が768px以上なら */
    @media (width >= 768px) {
      width: 80%;
      max-width: 460px;
    }
  }
}
