/*=============================================================================
  サブメニュー
=============================================================================*/

.post .submenu {
  grid-row: submenu;
  /* 画面幅が768px以上なら */
  @media (width >= 768px) {
    grid-column: 6 / span 2;
  }
}

aside {
  border: solid 1px var(--amairo);
  padding: 20px;
  margin: 30px 0;
  text-align: center;

  h2 {
    border-bottom: solid 2px var(--sanaeiro);
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: var(--sanaeiro);
    font-weight: normal;
    font-family: 'Yuji Boku', serif;
  }

  p {
    font-size: 14px;
  }
}

/* プロフィール */
.profile figure img {
  margin: 0 auto;
}

/* ピックアップ */
.pickup {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
    list-style: none;
    padding: 0;
    text-align: left;

    a {
      color: var(--kurohairo);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h3 {
    font-size: 14px;

    &::before {
      content: "▼";
      color: var(--nanohanairo);
    }

    &::after {
      content: "▲";
      color: var(--utsushiiro);
    }
  }
}
