/*-----------------------------------------------------------------------------
  テキストの配置
-----------------------------------------------------------------------------*/

/* 左寄せ指定
-----------------------------------------------------------------------------*/
.lefted.text {
  text-align: left !important;
}

/* 中央揃え指定
-----------------------------------------------------------------------------*/
.centered.text {
  text-align: center !important;
}

/* 右寄せ指定
-----------------------------------------------------------------------------*/
.righted.text {
  text-align: right !important;
}
