/*=============================================================================
  いろいろ便利
=============================================================================*/

/* リンク無効化
-----------------------------------------------------------------------------*/
.link.disable {
  pointer-events: none;
}

.link.disable:hover {
  pointer-events: none;
}

/* モバイル / コンピュータ 切替
-----------------------------------------------------------------------------*/
.mobile.only {
  display: inherit;
}

@media (min-width: 768px) {
  .mobile.only {
    display: none;
  }
}

.computer.only {
  display: inherit;
}

@media (max-width: 768px) {
  .computer.only {
    display: none;
  }
}
