/*=============================================================================
  モバイル版・デスクトップ版 共通の設定
=============================================================================*/

/*-----------------------------------------------------------------------------
  ページ全体の設定
-----------------------------------------------------------------------------*/
body {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
              [head]    100px
              [main]    auto
              [submenu] auto
              [foot]    100px;
  row-gap: 20px;
  font-family: 'Kaisei Opti', serif;
  /* テキストの自動拡大を無効化 */
  text-size-adjust: none;
}

/* パーツの配置 */
body > * {
  grid-column: 2 / -2;
}

/*=============================================================================
  デスクトップ版の設定
=============================================================================*/
@media (min-width: 768px) {

  /*-----------------------------------------------------------------------------
    ページ全体の設定
  -----------------------------------------------------------------------------*/
  body {
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    column-gap: 5%;
    grid-template-rows:
                        [head]         100px
                        [main submenu] auto
                        [foot]         100px;
  }

  .main    { grid-column: 2 / span 4 }
  .submenu { grid-column: 6 / span 2 }
}
