/*=============================================================================
  プロフィールに関するスタイルシート
=============================================================================*/

/*-----------------------------------------------------------------------------
  モバイル版・デスクトップ版 共通の設定
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
  サブメニューの設定
-----------------------------------------------------------------------------*/
.submenu {
  grid-row: submenu;
}

aside {
  border: solid 1px lightgray;
  padding: 20px;
  margin: 30px 0;
  text-align: center;
}

aside h2 {
  border-bottom: solid 2px lightgray;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

aside p {
  font-size: 14px;
}

aside ul {
  list-style: none;
  padding: 0;
}

/*-----------------------------------------------------------------------------
  PROFILE
-----------------------------------------------------------------------------*/
.profile figure img {
  margin: 0 auto; /* 中央揃え */
}

/*-----------------------------------------------------------------------------
  PICKUP
-----------------------------------------------------------------------------*/
.pickup ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
}

.pickup ul a {
  color: var(--kurohairo);
  text-decoration: none;
}

.pickup ul a:hover {
  text-decoration: underline;
}

.pickup h3 {
  font-size: 14px;
}

.pickup h3::before {
  content: "▼";
  color: var(--nanohanairo);
}

.pickup h3::after {
  content: "▲";
  color: var(--utsushiiro);
}


/*-----------------------------------------------------------------------------
  デスクトップ版
-----------------------------------------------------------------------------*/
@media (min-width: 768px) {

  /* サブメニュー */
  .submenu {
    grid-column: 6 / span 2;
  }
}
