/*=============================================================================
  タイトル
  モバイル版・デスクトップ版 共通の設定
=============================================================================*/
.top h1 {
  grid-row: title;
  justify-self: center;
  align-self: center;
  color: var(--sakurairo);
  font-size: 50px;
  font-weight: normal;
  line-height: 1.2;
  text-shadow: 0 0 5px var(--nibiiro);
  text-align: center;

  font-family: 'Yuji Boku', serif;
}

/*=============================================================================
  デスクトップ版の設定
=============================================================================*/
@media (min-width: 768px) {
  .top h1 {
    grid-column: 2 / span 3;
    max-width: 460px;
  }
}
